{% extends "base.html" %}
{% block content %}



<div id="select" class="h-screen w-full flex items-center justify-center gap-10">


    <a class=" flex h-1/2 w-1/5 flex-col items-center justify-center gap-4 border rounded-xl shadow-xl bg-blue-600 text-white hover:bg-blue-700 transition "
        href="/register">

        <div class="font-bold text-3xl">
            <h2>Patient?</h2>
        </div>
    </a>





    <a class="flex h-1/2 w-1/5 flex-col items-center justify-center gap-4 border rounded-xl shadow-xl bg-blue-600 text-white hover:bg-blue-700 transition"
        href="/registerdoctor">

        <div class="">
            <h2 class="font-bold text-3xl">Doctor?</h2>
        </div>
    </a>



</div>




{% endblock content %}